/* required */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* board */
.board {
  border-collapse: collapse;
}

.board__cell {
  height: 40px;
  width: 40px;
  border: 1px solid gray;
}

/* balls */
.ball {
  height: 30px;
  width: 30px;
  border: 1px solid lightgray;
  border-radius: 30px;
  margin: auto;
}

.ball--path {
  background-color: lightpink;
}

.ball--selected {
  height: 35px;
  width: 35px;
}

.ball-color--r {
  background-color: #FF1717;
}

.ball-color--o {
  background-color: #FF7F13;
}

.ball-color--y {
  background-color: #FAFF31;
}

.ball-color--g {
  background-color: #6EFF27;
}

.ball-color--c {
  background-color: #41FFDA;
}

.ball-color--b {
 background-color: #1450FF;
}

.ball-color--v {
  background-color: #A10AFF;
}

/* additional features */
.js-hide {
  display: none;
}