/* required */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* navbar */
.navbar {
  background-color: #24292e;
  color: #959da5;
  height: 17%;
  width: 100%;
}

.navbar-title, .navbar-subtitle {
  width: 50vw;
  font-family: 'Roboto Bold', serif;
  font-size: 3vh;
  box-sizing: border-box;
  padding: 20px 20px 5px 20px;
}

.navbar-subtitle {
  font-size: 2.4vh;
  padding: 5px 20px 10px 20px
}

.navbar-title--info {
  font-family: Roboto, serif;
}

/* board */
#js-display {
  background-color: #2f363d;
  height: 83%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  border-collapse: collapse;
}

.board__cell {
  background-color: #39414a;
  height: 40px;
  width: 40px;
  border: 1px groove #959da5;
}

#js-color-preview {
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0 0 16px;
}

/* additional features */
.js-hide {
  display: none;
}